<!-- Marie-Ève — 2025-11-13

<% if user_signed_in? %>
    <p>
        <%= link_to "Accueil", root_path %> /
        <%= link_to "Mes menus", mesmenus_path %>
    </p>
    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete %>
<% else %>
    <p>
        <%= link_to "Se connecter", new_user_session_path %>
    </p>
<% end %>

-->

<%= render "shared/fil_ariane" %>

<h1><%= @business.name %></h1>

<p><strong>Description</strong><br>

<p><%= @business.description || "Aucune description" %></p>
<!-- <%= simple_format(@business.description || "Aucune description") %></p>  -->

<p><strong>Site web</strong><br>

<% if @business.site_web.present? %>
  <p>
    <%= link_to "Visiter le site web", @business.site_web, target: "_blank" %>
  </p>
<% end %>

<h2>Menus</h2>
<% if @business.menus.any? %>

    <% @business.menus.each do |menu| %>
        <%= render partial: 'menu', locals: { menu: menu } %>
    <% end %>

<% else %>
    <p>Aucun menu disponible.</p>
<% end %>